<div class="card grafico">
    <div class="card">
        <h6 class="card-title text-center">
            <span>Serie de tiempo: casos confirmados</span><br><br>
            <a href="https://github.com/pomber/covid19" target="_blank" class="font-italic h6">API Rest:
                github.com/pomber/covid19</a><br>
            <a href="https://systems.jhu.edu/" target="_blank" class="font-italic">Datos: Univ. Johns Hopkins</a>
        </h6>
        <div class="card-body">
            <canvas id="canvasSerieTiempo"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <h6 class="card-title text-center">
            <span>Totales a la fecha</span><br>
            <span>Por Pais</span>
        </h6>
        <div class="card-body">
            <canvas id="canvasArgentina"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <h6 class="card-title text-center">
            <span>Totales a la fecha</span><br>
            <span>Global</span>
        </h6>
        <div class="card-body">
            <canvas id="canvasGlobal"></canvas>
        </div>
    </div>
</div>