<div class="card-deck grafico">
    <div class="card">
        <h5 class="card-title text-center">
            <span>Coronavirus</span><br>
            <span>Datos totales a la fecha</span>
        </h5>
        <div class="card-body">
            <canvas id="canvasGlobal"></canvas>
        </div>
    </div>
    <div class="card">
        <h5 class="card-title text-center">
            <span>Coronavirus</span><br>
            <span>Datos totales a la fecha</span>
        </h5>
        <div class="card-body">
            <canvas id="canvasArgentina"></canvas>
        </div>
    </div>
</div>