<div class="card grafico">
    <div class="card">
        <h5 class="card-title text-center">
            <span>Acumulado</span>
        </h5>
        <div class="card-body">
            <canvas id="canvasSerieTiempo"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <h5 class="card-title text-center">
            <span>Totales a la fecha</span><br>
            <span>Por Pais</span>
        </h5>
        <div class="card-body">
            <canvas id="canvasArgentina"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <h5 class="card-title text-center">
            <span>Totales a la fecha</span><br>
            <span>Global</span>
        </h5>
        <div class="card-body">
            <canvas id="canvasGlobal"></canvas>
        </div>
    </div>
</div>
