<div class="container">
  <nav class="navbar navbar-expand-lg laNavBar">
    <a class="navbar-brand h6 mt-1" href="#">Argengis</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- Ojo, estos iconos de fontawesome SI andan: <i class="fa fa-search"></i>
            <i class="fa fa-eye"></i> <i class="fa fa-eye-slash"></i> <i class="fa fa-tags"></i> -->
        <li class="nav-item dropdown">

          <a class="nav-link  mt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">

            <!-- Menú ------------------------------------------------------------------- -->
            <div class="row ml-2">
              Elecciones
            </div>
            <div class="row offset-1">
              <img src="assets/iconos/menu_down.png" alt="" width="18px;" class="ml-4 mb-1">
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" type="button" (click)="menuSeleccionado('paso2019')">
              <img src="assets/iconos/elecciones.png" alt="" width="20px;" class="mr-2">
              Elecc. Paso 2019 (test)
            </button>
            <button class="dropdown-item flip" type="button" data-toggle="collapse" data-target="#resumenPaso">
              <img src="assets/iconos/resumen.png" alt="" width="20px;" class="mr-2">
              Resumén Paso 2019
            </button>
            <button class="dropdown-item" type="button" (click)="menuSeleccionado('generales2019')">
              <img src="assets/iconos/elecciones.png" alt="" width="20px;" class="mr-2">
              Elecc.Grales.2019 (test)
            </button>
            <button class="dropdown-item" type="button" (click)="menuSeleccionado('circuitos')">
              <img src="assets/iconos/circuitoElectoral.png" alt="" width="20px;" class="mr-2">
              Circ. electorales (todos)
            </button>
            <button class="dropdown-item" type="button" (click)="menuSeleccionado('leerPartidos')">
              <img src="assets/iconos/circuitoElectoral.png" alt="" width="20px;" class="mr-2">
              Part.Pcia. Bs. As. (todos)
            </button>
            <button class="dropdown-item" type="button" (click)="menuSeleccionado('renabap')">
              <img src="assets/iconos/circuitoElectoral.png" alt="" width="20px;" class="mr-2">
              Renabap
            </button>
          </div>
          <!-- Menú ------------------------------------------------------------------- -->
        </li>

        <li class="nav-item ml-4">
          <a class="nav-link" href="#" (click)="buscarPartido();" data-toggle="collapse" data-target="#buscaPartido"
            title="Partidos de la Provincia de Buenos Aires">
            <div class="row mt-3">
              <div class="col">
                Partidos Pcia.Bs.As.
              </div>
            </div>
            <!-- <div class="row">
              <div class="col offset-4 ">
                <img src="assets/iconos/partidos3.png" alt="" width="18px;" class="mr-2 mt-3">
              </div>
            </div> -->
          </a>
        </li>

        <li class="nav-item ml-4">
          <a class="nav-link" href="#" (click)="buscarPartido();" data-toggle="collapse" data-target="#buscaEscuela"
            title="Escuelas de la Provincia de Buenos Aires">
            <div class="row mt-3">
              <div class="col">
                Escuelas Pcia.Bs.As.
              </div>
            </div>
            <!-- <div class="row">
              <div class="col offset-4 ">
                <img src="assets/iconos/escuela4.png" alt="" width="18px;" class="mr-2 mt-3">
              </div>
            </div> -->
          </a>
        </li>

        <li class="nav-item ml-4">
          <a class="nav-link" href="#" (click)="buscarPartido();" data-toggle="collapse" data-target="#buscaCircuito"
            title="Circuitos electorales de la Provincia de Buenos Aires">
            <div class="row mt-3">
              <div class="col">
                Circ. Elect. Pcia.Bs.As.
              </div>
            </div>
            <!-- <div class="row">
              <div class="col offset-4 ">
                <img src="assets/iconos/circuitoElectoral.png" alt="" width="18px;" class="mr-2 mt-3">
              </div>
            </div> -->
          </a>
        </li>

        <li class="nav-item ml-4">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#fila" title="Geolocalizar">
            <div class="row">
              <div class="col offset-3">
                <img src="assets/iconos/geoloca0.png" alt="" width="15px;" class="mr-2 mt-3">
              </div>
            </div>
            <!-- <div class="row">
              <div class="col">
                Geolocalizar
              </div>
            </div> -->
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#capaWFS">
            <div class="row">
              <div class="col offset-3">
                <img src="assets/iconos/capaWFS.png" alt="" width="15px;" class="mr-2">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Capas WFS
              </div>
            </div>
          </a>
        </li> -->

        <li class="nav-item ml-4">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#corona" title="Covid 19">
            <div class="row">
              <div class="col offset-3">
                <img src="assets/iconos/virus1.png" alt="" width="15px;" class="mr-2 mt-3">
              </div>
            </div>
            <!-- <div class="row">
              <div class="col">
                Coronavirus
              </div>
            </div> -->
          </a>
        </li>

        <li class="nav-item ml-4">
          <div class="mt-3 ml-3">
            <app-usuario></app-usuario>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav> <!-- =================================barra de navegación================================-->
</div>



<!-- =================================Circuito electoral==========================================-->
<div class="card collapse" style="position: absolute; z-index:2000; width: 18rem;" id="buscaCircuito">
  <div class="card-body">
    <button type="button" class="close" data-toggle="collapse" data-target="#buscaCircuito">
      <span>×</span>
    </button>
    <h5 class="card-title">Buscar circuito electoral</h5>
    <div class="form-group">
      <label for="selectCircuito">Desplegar para selecc.</label>
      <select class="form-control" id="selectCircuito" [(ngModel)]="partidoSeleccionadoParaCircuito"
        (change)="menuSeleccionado('unPartido', partidoSeleccionadoParaCircuito)">
        <option>Seleccionar un partido</option>
        <option *ngFor="let item of listadoPartidos; let i = index;">{{item}}</option>
      </select>
    </div>
  </div>
</div>

<!-- =================================Partidos====================================================-->
<div class="card collapse" style="position: absolute; z-index:2000; width: 18rem;" id="buscaPartido">
  <div class="card-body">
    <button type="button" class="close" data-toggle="collapse" data-target="#buscaPartido">
      <span>×</span>
    </button>
    <h5 class="card-title">Buscar partidos</h5>
    <div class="form-group">

      <label for="selectPartido">Desplegar para seleccionar</label>
      <select class="form-control" id="selectPartido" [(ngModel)]="partidoSeleccionado"
        (change)="menuSeleccionado('unPartidoPartido', partidoSeleccionado)">
        <option>Seleccionar un partido</option>
        <option *ngFor="let item of listadoPartidos; let i = index;">{{item}}</option>
      </select>

    </div>
  </div>
</div>

<!-- =================================Escuelas ===================================================-->
<div class="card collapse" style="position: absolute; z-index:2000; width: 18rem;" id="buscaEscuela">
  <div class="card-body">
    <button type="button" class="close" data-toggle="collapse" data-target="#buscaEscuela">
      <span>×</span>
    </button>
    <h5 class="card-title">Buscar escuelas por partido</h5>
    <div class="form-group">
      <label for="selectEscuela">Desplegar para selecc.</label>
      <select class="form-control" id="selectEscuela" [(ngModel)]="partidoSeleccionadoParaEscuela"
        (change)="menuSeleccionado('unaEscuela',partidoSeleccionadoParaEscuela)">
        <option>Seleccionar un partido</option>
        <option *ngFor="let item of listadoPartidos; let i = index;">{{item}}</option>
      </select>
    </div>
  </div>
</div>

<!-- =================================Capa WFS ==================================================-->
<div class="card collapse ml-5" style="position: absolute; z-index:2000; width: 15rem;" id="capaWFS">
  <div class="card-header">
    <span class="card-title h5">Capas WFS</span>
    <button type="button" class="close" data-toggle="collapse" data-target="#capaWFS">
      <span>×</span>
    </button>
  </div>
  <div class="card-body">
    <div class="form-group form-group-sm">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend input-group-prepend-sm">
          <span class="input-group-text ml-3" id="cargarWfsIgn">IGN, capa partidos</span>
        </div>
        <button class="btn btn-info btn-sm" (click)="menuSeleccionado('partidosIgn');" id="cargarWfsIgn"><i
            class="fa fa-check"></i></button>
      </div>
    </div>
    <!-- <div class="form-group form-group-sm">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend input-group-prepend-sm">
          <span class="input-group-text ml-3" id="cargarWfsIgn">Indec, capa saraza</span>
        </div>
        <button class="btn btn-info btn-sm" id="cargarWfsIgn"><i class="fa fa-check"></i></button>
      </div>
    </div> -->
  </div>
</div>