img:hover {
    cursor: pointer;
}
/*-----------grande ------------------*/
@media (min-width: 576px) {
    .corona {
        position: relative;
        z-index: 500;
        width: 55rem;
    }
    .grafico{
        position: absolute;
        z-index: 500;
        top: -30px;
        left: 10px;
        background-color: lightgray;
    }
    .datos{
        position: absolute;
        z-index: 500;
        top: 10px;
        left: 10px;
        width: 40rem;
    }
}

/*---------chico --------------------*/
@media (max-width: 575.98px) {
    .corona {
        position: relative;
        z-index: 500;
        width: 18rem;
        /* height: 20rem; */
    }
    .tarjeta {
        width: 16rem;
        height: 18rem;
    }
}