<div class="card-deck bg-light container text-center corona ml-3 mt-2" id="corona" >
    <div class="card mt-2 mb-2 tarjeta" >
        <div class="card-body">
            <h5 class="card-title">Coronavirus. Casos totales.</h5>
            <p class="text-center h6">Casos totales:{{totalGeneral}}</p>
            <p class="text-center h6">Fallecidos: {{fallecidosGeneral}}</p>
            <p class="text-center h6">Recuperados: {{recuperadosGeneral}}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm mt-2" (click)="mostrarDatos();">
                Actualizar
            </button>
            <p class="text-md-center text-muted">
                Fuente de los datos: https://github.com/javieraviles/covidAPI
                y https://www.worldometers.info/
            </p>
        </div>
    </div>
    <div class="card mt-2 mb-2 tarjeta" >
        <div class="card-body">
            <h5 class="card-title">Coronavirus. Argentina.</h5>
            <p class="text-center h6">Casos totales:{{total}} / hoy:{{totalHoy}} </p>
            <p class="text-center h6">Fallecidos totales: {{fallecidos}} / hoy: {{fallecidosHoy}}</p>
            <p class="text-center h6">Recuperados: {{recuperados}} - Activos:{{activos}}</p>
            <p class="text-center h6">Críticos: {{criticos}} - Casos x millon:{{casosPorMillon}}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm mt-2 " (click)="mostrarDatosArgentina();">
                Actualizar
            </button>
            <br>
            <p class="text-md-center text-muted">
                Fuente de los datos: https://github.com/javieraviles/covidAPI
                y https://www.worldometers.info/
            </p>
        </div>
    </div>
    <button type="button" class="close mr-3 cerrar" data-toggle="collapse" data-target="#corona">
        <span>×</span>
    </button>
</div>