<div class="card-deck bg-light container text-center corona ml-3 mt-2" id="corona" >
    <div class="card mt-2 mb-2 tarjeta" >
        <div class="d-flex justify-content-center mt-2">
            <img src="assets/iconos/reload2.png" (click)="mostrarDatos(true);" alt="" width="15px;" class="mr-2">
        </div>
        <div class="card-body">
            <h5 class="card-title">Coronavirus. Casos totales.</h5>
            <p class="text-center h6">Casos totales:{{totalGeneral}}</p>
            <p class="text-center h6">Fallecidos: {{fallecidosGeneral}}</p>
            <p class="text-center h6">Recuperados: {{recuperadosGeneral}}</p>
        </div>
        <div class="card-footer">
            <p class="text-md-center text-muted">
                Fuente de los datos: https://github.com/javieraviles/covidAPI
            </p>
        </div>
    </div>
    <div class="card mt-2 mb-2 tarjeta" >
        <div class="d-flex justify-content-center mt-2">
            <img src="assets/iconos/reload2.png" (click)="mostrarDatosArgentina(true);" alt="" width="15px;" class="mr-2">
        </div>
        <div class="card-body">
            <h5 class="card-title">Coronavirus. Argentina.</h5>
            <p class="text-center h6">Casos totales:{{total}} / hoy:{{totalHoy}} </p>
            <p class="text-center h6">Fallecidos totales: {{fallecidos}} / hoy: {{fallecidosHoy}}</p>
            <p class="text-center h6">Recuperados: {{recuperados}} - Activos:{{activos}}</p>
            <p class="text-center h6">Críticos: {{criticos}} - Casos x millon:{{casosPorMillon}}</p>
        </div>
        <div class="card-footer">
            <p class="text-md-center text-muted">
                Fuente de los datos: https://github.com/javieraviles/covidAPI
            </p>
        </div>
    </div>
    <button type="button" class="close mr-3 cerrar" data-toggle="collapse" data-target="#corona">
        <span>×</span>
    </button>
</div>