
/*-----------grande ------------------*/
@media (min-width: 576px) {
    .corona {
        position: relative;
        z-index: 500;
        width: 45rem;
    }
}

/*---------chico --------------------*/
@media (max-width: 575.98px) {
    .corona {
        position: relative;
        z-index: 500;
        width: 20rem;
        /* height: 20rem; */
    }
    .tarjeta {
        width: 17rem;
        height: 18rem;
    }
}